.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.pic_size {
  height: 30px;
  width: 30px;
}
.heading-card {
  color: black;
  font-size: 20px;
}
.para-card {
  color: #f4faff;
  font-size: 20px;
}
